# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

/nachrichtenportale/nachrichtenportale/data/apotheken-umschau/
/nachrichtenportale/nachrichtenportale/data/augsburger-allgemeine/
/nachrichtenportale/nachrichtenportale/data/auto-motor-und-sport/
/nachrichtenportale/nachrichtenportale/data/auto-motor-und-sport/2024-08-21/
/nachrichtenportale/nachrichtenportale/data/auto-motor-und-sport/2024-08-21/OpelMokkaFaceliftfürdenSUVAUTOMOTORUNDSPORT.txt
/nachrichtenportale/nachrichtenportale/data/auto-motor-und-sport/2024-08-21.csv
/nachrichtenportale/nachrichtenportale/data/autobild/
/nachrichtenportale/nachrichtenportale/data/bild/
/nachrichtenportale/nachrichtenportale/data/br/
/nachrichtenportale/nachrichtenportale/data/brigitte/
/nachrichtenportale/nachrichtenportale/data/bunte/
/nachrichtenportale/nachrichtenportale/data/businessinsider/
/nachrichtenportale/nachrichtenportale/data/buzzfeed/
/nachrichtenportale/nachrichtenportale/data/chip/
/nachrichtenportale/nachrichtenportale/data/computerbild/
/nachrichtenportale/nachrichtenportale/data/efahrer/
/nachrichtenportale/nachrichtenportale/data/eltern/
/nachrichtenportale/nachrichtenportale/data/express/
/nachrichtenportale/nachrichtenportale/data/faz/
/nachrichtenportale/nachrichtenportale/data/filmstarts/
/nachrichtenportale/nachrichtenportale/data/finanzen/
/nachrichtenportale/nachrichtenportale/data/focus/
/nachrichtenportale/nachrichtenportale/data/fr/
/nachrichtenportale/nachrichtenportale/data/freenet/
/nachrichtenportale/nachrichtenportale/data/gala/
/nachrichtenportale/nachrichtenportale/data/gamestar/
/nachrichtenportale/nachrichtenportale/data/giga/
/nachrichtenportale/nachrichtenportale/data/gmx/
/nachrichtenportale/nachrichtenportale/data/golem/
/nachrichtenportale/nachrichtenportale/data/handelsblatt/
/nachrichtenportale/nachrichtenportale/data/heise/
/nachrichtenportale/nachrichtenportale/data/hessenschau/
/nachrichtenportale/nachrichtenportale/data/hna/
/nachrichtenportale/nachrichtenportale/data/infranken/
/nachrichtenportale/nachrichtenportale/data/kicker/
/nachrichtenportale/nachrichtenportale/data/kino/
/nachrichtenportale/nachrichtenportale/data/kreiszeitung/
/nachrichtenportale/nachrichtenportale/data/ksta/
/nachrichtenportale/nachrichtenportale/data/mdr/
/nachrichtenportale/nachrichtenportale/data/merkur/
/nachrichtenportale/nachrichtenportale/data/morgenpost/
/nachrichtenportale/nachrichtenportale/data/n-tv/
/nachrichtenportale/nachrichtenportale/data/ndr/
/nachrichtenportale/nachrichtenportale/data/nn/
/nachrichtenportale/nachrichtenportale/data/nordbayern/
/nachrichtenportale/nachrichtenportale/data/noz/
/nachrichtenportale/nachrichtenportale/data/nrz/
/nachrichtenportale/nachrichtenportale/data/onvista/
/nachrichtenportale/nachrichtenportale/data/pnp/
/nachrichtenportale/nachrichtenportale/data/presseportal/
/nachrichtenportale/nachrichtenportale/data/rbb24/
/nachrichtenportale/nachrichtenportale/data/rnd/
/nachrichtenportale/nachrichtenportale/data/rp-online/
/nachrichtenportale/nachrichtenportale/data/rtl/
/nachrichtenportale/nachrichtenportale/data/ruhrnachrichten/
/nachrichtenportale/nachrichtenportale/data/spiegel/
/nachrichtenportale/nachrichtenportale/data/sport/
/nachrichtenportale/nachrichtenportale/data/sport1/
/nachrichtenportale/nachrichtenportale/data/sr/
/nachrichtenportale/nachrichtenportale/data/stern/
/nachrichtenportale/nachrichtenportale/data/stuttgarter-nachrichten/
/nachrichtenportale/nachrichtenportale/data/stuttgarter-zeitung/
/nachrichtenportale/nachrichtenportale/data/sueddeutsche/
/nachrichtenportale/nachrichtenportale/data/suedkurier/
/nachrichtenportale/nachrichtenportale/data/swp/
/nachrichtenportale/nachrichtenportale/data/swr/
/nachrichtenportale/nachrichtenportale/data/t-online/
/nachrichtenportale/nachrichtenportale/data/t3n/
/nachrichtenportale/nachrichtenportale/data/tag24/
/nachrichtenportale/nachrichtenportale/data/tagesschau/
/nachrichtenportale/nachrichtenportale/data/tagesspiegel/
/nachrichtenportale/nachrichtenportale/data/taz/
/nachrichtenportale/nachrichtenportale/data/transfermarkt/
/nachrichtenportale/nachrichtenportale/data/tvspielfilm/
/nachrichtenportale/nachrichtenportale/data/tz/
/nachrichtenportale/nachrichtenportale/data/upday/
/nachrichtenportale/nachrichtenportale/data/wa/
/nachrichtenportale/nachrichtenportale/data/watson/
/nachrichtenportale/nachrichtenportale/data/waz/
/nachrichtenportale/nachrichtenportale/data/web/
/nachrichtenportale/nachrichtenportale/data/welt/
/nachrichtenportale/nachrichtenportale/data/wiwo/
/nachrichtenportale/nachrichtenportale/data/wp/
/nachrichtenportale/nachrichtenportale/data/wr/
/nachrichtenportale/nachrichtenportale/data/wunderweib/
/nachrichtenportale/nachrichtenportale/data/zdf/
/nachrichtenportale/nachrichtenportale/data/zeit/
/nachrichtenportale/nachrichtenportale/data/wdr/
